main{
    border: 1px red solid;
}

main > section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form > button{
    color: white;
    background-color: darkcyan;
}