<main class="container-fluid">
    <h1>Panel de administrador</h1>
    <section class="row">
        <article class="col-lg card">
            <h4>Historial de Atenciones</h4>
            <h6 class="card-subtitle">Emergencias registradas</h6>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>N° Victimas</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of atenciones">
                            <th>{{item.id}}</th>
                            <th>{{item.victimas}}</th>
                            <th>{{item.fecha}}</th>
                            <th>{{item.estado}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article class="col-lg card">
            <h4>Personal del hospital</h4>
            <h6 class="card-subtitle">Personal del hospital y su estado de disponibilidad</h6>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of medicos">
                            <th>{{item.email}}</th>
                            <th>{{item.nombre}}</th>
                            <th>{{item.apellido}}</th>
                            <th>{{item.disponibilidad}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <section class="row">

        <form class="col-lg card" [formGroup]="atencionForm" (ngSubmit)="asignarMedico()">
            <h5>Atender emergencia</h5>
            <h6>Asigna un medico para atender la emergencia</h6>
            <div class="mb-3 buscar-atencion">
                <label for="atencionId" class="form-label">Id</label>
                <input type="number" class="form-control" id="atencionId" placeholder="Ingresa el id de la emergencia"
                    formControlName="atencionId">
                <button type="button" class="btn btn-info" (click)="traerAtencion()">Ingresar emergencia</button>
            </div>
            <div class="mb-3">
                <label for="victimas" class="form-label">N° de victimas</label>
                <input type="text" class="form-control" id="victimas" formControlName="victimas">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email"
                    placeholder="Ingresa el correo electronico del medico" formControlName="email">
                <div class="form-text" id="basic-addon4">Correo electronico del medico que atenderá la emergencia.</div>
            </div>
            <button class="btn btn-info">Atender emergencia!</button>
        </form>
    </section>

</main>