<main class="container-fluid">
    <h1>Panel de administrador</h1>
    <section class="row">
        <article class="col-12-lg card">
            <h4>Historial de Atenciones <button class="btn btn-info" (click)="refrescarPage()">Refrescar</button></h4>
            <h6 class="card-subtitle">Emergencias registradas</h6>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>N° Victimas</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of atenciones">
                            <th><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    (click)="mostrarDetallesAtencion(item.id)">Descripcion</button></th>
                            <th>{{item.victimas}}</th>
                            <th>{{item.estado}}</th>
                            <th><button class="btn btn-info" (click)="traerAtencion(item.id)">Atender</button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="col-12-lg card">
            <h4>Personal del hospital <button class="btn btn-info" (click)="refrescarPage()">Refrescar</button></h4>
            <h6 class="card-subtitle">Personal del hospital y su estado de disponibilidad</h6>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Correo</th>
                            <th>Disponibilidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of medicos">
                            <th>{{item.email}}</th>
                            <th>{{item.disponibilidad}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <section class="row">

        <form class="col-lg card" [formGroup]="atencionForm" (ngSubmit)="asignarMedico()">
            <h5>Atender emergencia</h5>
            <h6>Asigna una emergencia para abordarla</h6>
            <div class="mb-3">
                N° de atencion: <span id="id-form-atencion"></span> <br>
                Descripcion: <span id="descripcion-form-atencion"></span> <br>
                N° de victimas: <span id="victimas-form-atencion"></span> <br>
                Fecha de creacion: <span id="fecha-form-atencion"></span><br>
                Medico encargado: <span id="medico-form-atencion"></span><br>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email"
                    placeholder="Ingresa el correo electronico del medico" formControlName="email">
                <div class="form-text" id="basic-addon4">Correo electronico del medico que atenderá la emergencia.</div>
            </div>
            <button class="btn btn-info">Atender emergencia!</button>
        </form>
    </section>

</main>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalles De La Emergencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                N° de atencion: <span id="id-atencion"></span> <br>
                Descripcion: <span id="descripcion-atencion"></span> <br>
                N° de victimas: <span id="victimas-atencion"></span> <br>
                Fecha de creacion: <span id="fecha-atencion"></span><br>
                Medico encargado: <span id="medico-atencion"></span><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendido!</button>
            </div>
        </div>
    </div>
</div>