section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    padding: 2vh;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

fieldset > h5,
fieldset > h6{
    text-align: center;
}

.login-options{
    display: flex;
    justify-content: space-between;
}

.login-options > a{
    /* text-decoration: none; */
    color: black;
    padding: 2vh;
}

.form-control,.form-select{
    border: 1px cyan solid;
}

form > button{
    color: white;
}