main{
    background-image: url('../../../../../assets/menu-principal/registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vh;
}

section { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

article {
    padding: 2vh;
    border-radius: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 2vh; 
}

article > h2,
article > h6{
    text-align: center;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}