@if(cargando){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<main class="container-fluid">
    <section class="row">
        <article class="col-md-6">
            <h2>Registro de usuario</h2>
            <h6>Completa el formulario para registrarte!</h6>
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

                <mat-step [stepControl]="datosPersonalesForm">
                    <form [formGroup]="datosPersonalesForm" (ngSubmit)="registrar()">
                        <ng-template matStepLabel>Datos personales</ng-template>
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Ingresa tu primer nombre" formControlName="nombre">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput placeholder="Ingresa tu primer apellido" formControlName="apellido">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Numero Telefonico</mat-label>
                            <input matInput type="number" placeholder="Ingresa tu numero de telefono"
                                formControlName="fono">
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext type="button">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="registroForm">
                    <form [formGroup]="registroForm" (ngSubmit)="registrar()">
                        <ng-template matStepLabel>Datos del trabajo</ng-template>
                        <mat-form-field>
                            <mat-label>Correo Electronico</mat-label>
                            <input matInput formControlName="email" placeholder="usuario@gmail.com">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" placeholder="Ingresa tu contraseña"
                                [type]="visible ? 'text' : 'password'">
                            <button mat-icon-button matSuffix type="button" (click)="verPasword()">
                                <mat-icon>{{visible ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName="cargo">
                                <mat-option value="">cargo</mat-option>
                                <ng-container *ngFor="let item of cargos">
                                    <mat-option value="{{item.id}}">{{item.descripcion}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button type="submit">Registrarme</button>
                    </form>
                </mat-step>

            </mat-stepper>
        </article>
    </section>
</main>