<main class="container-fluid">
    <section class="row">
        <article class="col">
            <h1>Hospital San Jose De Melipilla</h1>
            <h6>Gran inauguracion pronto!</h6>
            <div>
                <button type="button" class="btn btn-danger">Registrar Emergencia</button>
                <button type="button" class="btn btn-info">Contactanos</button>
            </div>
        </article>
    </section>

    <section class="row">
        <h1>Nuestros Servicios</h1>
        <div class="card col">
            <div class="card-body">
                <i class="bi bi-hospital-fill"></i>
                <h5 class="card-title">Atención a emergencias</h5>
                <p class="card-text">Atención 24/7 a emergencias en la zona <br></p>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <i class="bi bi-virus"></i>
                <h5 class="card-title">Vacunas</h5>
                <p class="card-text">Programas integrales de vacunación <br></p>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <i class="bi bi-heart-pulse-fill"></i>
                <h5 class="card-title">Laboratorio</h5>
                <p class="card-text">Instalaciones de pruebas de diagnóstico</p>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <i class="bi bi-file-medical-fill"></i>
                <h5 class="card-title">Consultas</h5>
                <p class="card-text">Consultas médicas de expertos. <br></p>
            </div>
        </div>
    </section>

    <section class="row">
        <figure class="col-md-5">
            <img src="https://static.theclinic.cl/media/2014/10/hospital-de-melipilla-A1.jpg" class="img-fluid"
                alt="...">

        </figure>
        <article class="col-md-5">
            <h1>Acerca Del Hospital De Melipilla</h1>
            <p>El Hospital San José de Melipilla es un recinto hospitalario público de alta complejidad, que forma parte
                de la red asistencial del Servicio de Salud Metropolitano Occidente, ubicado en la ciudad de Melipilla,
                Chile.</p>
            <div class="container">
                <div class="row contact-options">
                    <span><i class="bi bi-telephone-fill"></i> 24/7 Emergency: 126-456-7890</span>
                    <span><i class="bi bi-clock-fill"></i> Open 24 hours</span>
                    <span><i class="bi bi-geo-alt-fill"></i>123 Hospital St, City, Country</span>
                </div>
            </div>
        </article>
    </section>
</main>