section:nth-child(1) {
    background-color: rgb(194, 192, 192);
    padding: 2vh;
    height: 30vh;
    display: flex;
    align-items: center;
}

section:nth-child(1) > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

article>h1,
article>h3 {
    text-align: center;
}

article>div {
    display: flex;
    gap: 2vh;
}

/* segundo section */
section:nth-child(2){
    padding: 2vh;
    display: flex;
    align-items: center;
    gap: 6vh;
}

section:nth-child(2) > h1{
    text-align: center;
}


.card-body > i{
    font-size: 3rem;
    text-align: center;
}

/* tercer seccion */
section:nth-child(3){
    background-color: rgb(194, 192, 192);
    padding: 2vh;
    display: flex;
    justify-content: space-around;
}


section:nth-child(3) > figure,
section:nth-child(3) > figure > img{
    border-radius: 2vh;
}

.contact-options{
    display: flex;
    justify-content: space-between;
}