main{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

form{
    padding: 2vh;
    display: flex;
    flex-direction: column;

}

mat-card{
    max-height: 55vh;
    overflow: auto;
}