<main>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Agregar una emergencia!</mat-card-title>
            <mat-card-subtitle>Completa el formulario para agregar una emergencia</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="recepcionForm" (ngSubmit)="AgregarEmergencia()">
                <mat-form-field>
                    <textarea matInput placeholder="Ingresa la descripcion de la emergencia"
                        formControlName="descripcion"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput placeholder="Ingresa la cantidad de victimas"
                        formControlName="victimas">
                </mat-form-field>
                <button mat-button type="submit">Registrar Emergencia</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
        <table mat-table [dataSource]="emergencias" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let item">{{item.id}}</td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let item">{{item.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="victimas">
                <th mat-header-cell *matHeaderCellDef>Victimas</th>
                <td mat-cell *matCellDef="let item">{{item.victimas}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
    </mat-card>
</main>