<div class="container">
    <h1>Registro de Emergencias</h1>
    <h3>Sección de recepción</h3>

    <div class="card">
        <h2>Nueva Emergencia</h2>
        <form (ngSubmit)="AgregarEmergencia()" [formGroup]="recepcionForm">
            <div class="form-group">
                <textarea type="text" name="descripcion" placeholder="Descripción de la emergencia"
                    formControlName="descripcion"></textarea>
            </div>
            <div class="form-group">
                <input type="number" name="victimas" placeholder="Número de víctimas"
                    formControlName="cantidadVictimas">
            </div>
            <button type="submit">Registrar Emergencia</button>
        </form>
    </div>

    <!--
    <div class="card">
        <h2>Total de Víctimas</h2>
        <p class="total-victimas">0</p>
    </div>
    -->

    <div class="card">
        <h2>Historial de Emergencias</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Víctimas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emergencia of emergencias">
                    <td>{{ emergencia.id }}</td>
                    <td>{{ emergencia.fecha }}</td>
                    <td>{{ emergencia.descripcion }}</td>
                    <td>{{ emergencia.victimas }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>