<main class="container-fluid">
    <section class="row">
        <form class="col-md-6" [formGroup]="forgotForm" (ngSubmit)="recuperarCredencial()">
            <fieldset>
                <h5>Recuperación de credenciales <i class="bi bi-person-fill-add"></i></h5>
                <h6>Ingresa tu correo electronico para solicitar recuperar tu clave</h6>
            </fieldset>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electronico"
                    formControlName="correo">
                @if (validarCampo('correo')) {<div id="emailHelp" class="text-danger">Correo requerido!</div>}
            </div>
            <fieldset class="login-options">
                <a routerLink="/login">Ya tengo una cuenta</a>
            </fieldset>

            <button type="submit" class="btn btn-info">Recuperar contraseña</button>
        </form>
    </section>
</main>