<main class="container-fluid">
    <section class="row">
        <form class="col-md-6">
            <fieldset>
                <h5>Recuperación de credenciales <i class="bi bi-person-fill-add"></i></h5>
                <h6>Ingresa tu correo electronico para solicitar recuperar tu clave</h6>
            </fieldset>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email">
                <div id="emailHelp" class="form-text">Ingresa tu correo electronico</div>
            </div>
            <fieldset class="login-options">
                <a href="/login">Ya tengo una cuenta</a>
            </fieldset>

            <button type="button" class="btn btn-info">Recuperar contraeña</button>
        </form>
    </section>
</main>