<main>
    @if (!atencion) {
    <h1>No presentas atenciones para atender!</h1>
    <button mat-button (click)="refrescar()">Refrescar</button>
    }@else {
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Actualizacion de la atencion</mat-card-title>
            <mat-card-subtitle>Aca podras actualizar el estado de la atencion</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">ID: {{atencion.id}}</mat-list-item>
                <mat-list-item role="listitem">Descripcion: {{atencion.descripcion}}</mat-list-item>
                <mat-list-item role="listitem">N° de victimas: {{atencion.victimas}}</mat-list-item>
                <mat-list-item role="listitem">fecha: {{atencion.fecha}}</mat-list-item>
                <mat-list-item role="listitem">estado: {{atencion.estado}}</mat-list-item>
                <mat-list-item role="listitem">Medico a cargo: {{medico?.nombre}} {{medico?.apellido}}</mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer>
            <form [formGroup]="medicoForm">
                <mat-form-field>
                    <mat-label>Indica el estado de la emergencia</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="{{atencion.estado}}">{{atencion.estado}}</mat-option>
                        <mat-option value="Resuelta">Resuelta</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button mat-button (click)="resolverAtencion()">Confirmar</button>
        </mat-card-footer>
    </mat-card>
    }
</main>