.form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        width: 100%;
        color: #333;
    }

    h2 {
        font-size: 1.5rem;
        /* font-weight: bold; */
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-size: 0.9rem;
        color: #666;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            /* font-weight: 600; */
            color: #333;
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            box-sizing: border-box;
            transition: border-color 0.2s ease-in-out;

            &:focus {
                border-color: #333;
                outline: none;
            }
        }

        textarea {
            resize: none;
            height: 80px;
        }
    }

    .btn-actualizar {
        display: block;
        width: 100%;
        padding: 12px;
        background-color: darkcyan;
        color: #fff;
        border: none;
        border-radius: 5px;
        /* font-family: 'Courier New', Courier, monospace; */
        font-size: 1rem;
        /* font-weight: bold; */
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #01859c;
        }
    }
}