<section class="row">
    <h3>Actualizar emergencias</h3>
    <form class="col-md-3">
        <article>
            <h5>Trauma</h5>
            <p>Accidente de trafico <span class="badge text-bg-primary">En progreso</span></p>
        </article>
        <article>
            <select class="form-select">
                <option value="1" selected>En progreso</option>
                <option value="2">Atentido</option>
                <option value="3">Pendiente</option>
            </select>
        </article>
    </form>
    <form class="col-md-3">
        <article>
            <h5>Trauma</h5>
            <p>Accidente de trafico <span class="badge text-bg-primary">En progreso</span></p>
        </article>
        <article>
            <select class="form-select">
                <option value="1" selected>En progreso</option>
                <option value="2">Atentido</option>
                <option value="3">Pendiente</option>
            </select>
        </article>
    </form>
    <form class="col-md-3">
        <article>
            <h5>Trauma</h5>
            <p>Accidente de trafico <span class="badge text-bg-primary">En progreso</span></p>
        </article>
        <article>
            <select class="form-select">
                <option value="1" selected>En progreso</option>
                <option value="2">Atentido</option>
                <option value="3">Pendiente</option>
            </select>
        </article>
    </form>
    <form class="col-md-3">
        <article>
            <h5>Trauma</h5>
            <p>Accidente de trafico <span class="badge text-bg-primary">En progreso</span></p>
        </article>
        <article>
            <select class="form-select">
                <option value="1" selected>En progreso</option>
                <option value="2">Atentido</option>
                <option value="3">Pendiente</option>
            </select>
        </article>
    </form>

</section>