section{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    background-color: lightgray;
    gap: 2vh;

}

section > form{
    border-radius: 2vh;
    border: 1px lightgray solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

form > .container > .row{
    padding: 2vh;
}