nav{
  background-color: lightcyan;
  padding: 2vh;
}

section{
  padding: 2vh;
  display: flex;
  justify-content: space-around;
  gap: 2vh;
}

.card-body > form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.grupos{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}