<main class="container-fluid">
    <nav class="row">
        <h1>Panel de control <i class="bi bi-graph-up-arrow"></i></h1>
    </nav>
    <section class="row">
        <div class="card col-md-3">
            <div class="card-body">
                <h5 class="card-title">Emergencias activas <i class="bi bi-activity"></i></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-body">
                <h5 class="card-title">Personal disponible <i class="bi bi-people-fill"></i></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-body">
                <h5 class="card-title">Registrar emergencia <i class="bi bi-exclamation-triangle-fill"></i></h5>
                <form>
                    <div class="grupos">
                        <label for="tipo">Tipo de Emergencia:</label>
                        <select id="tipo" class="form-control">
                            <option selected >Seleccione una opcion</option>
                            <option value="urgente">Urgente</option>
                            <option value="consulta">Consulta</option>
                            <option value="chequeo">Chequeo Médico</option>
                        </select>
                    </div>
                    <div class="grupos">
                        <label for="descripcion">Descripción de la Emergencia:</label>
                        <textarea id="descripcion" class="form-control"
                            rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Emergencia</button>
                </form>
            </div>
        </div>
    </section>
</main>