<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @if (verificarToken()) {
            <button mat-button (click)="logout()">
                Cerrar Sesión
                <mat-icon>
                    <span class="material-symbols-outlined">logout </span>
                </mat-icon>
            </button>
        }@else {
            <button mat-button (click)="navegar('registro')">
                Registrarme
                <mat-icon>
                    <span class="material-symbols-outlined">person_add</span>
                </mat-icon>
            </button>
            <button mat-button (click)="navegar('login')">
                Inicio de Sesión
                <mat-icon>
                    <span class="material-symbols-outlined">login</span>
                </mat-icon>
            </button>
        }
    </mat-menu>
    <span>Codigo Trauma <mat-icon><span class="material-symbols-outlined">emergency</span></mat-icon> </span>
</mat-toolbar>

<router-outlet />