<app-header />

<main class="container-fluid">
    <section class="row">
        <form class="col-6">
            <div>
                <h3>Inicio De Sesión</h3>
                <h6>Completa los campos para ingresar con tu perfil de usuario</h6>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <a routerLink="[/forgotpassword]" href="">Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn btn-primary" (click)="goToRegistro()">Submit</button>
        </form>
    </section>
</main>