@if(cargando){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<main class="container-fluid">
    <section class="row">
        <form class="col-md-6" [formGroup]="loginForm" (ngSubmit)="login()">
            <fieldset>
                <h5>Inicio de Sesión <i class="bi bi-door-closed-fill"></i></h5>
                <h6>Completa los campos para ingresar con tu perfil</h6>
            </fieldset>
            <div class="mb-3">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" id="email" formControlName="correo"
                    placeholder="ingresa tu correo electronico">
                @if (validarCampo('correo')) {<div id="emailHelp" class="text-danger">Email requerido</div>}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="ingresa tu contraseña">
                @if (validarCampo('password')) {<div id="emailHelp" class="text-danger">Contraseña requerida</div>}
            </div>
            <fieldset class="login-options">

                <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>

                <a routerLink="/registro">Registrarme <i class="bi bi-person-fill-add"></i></a>

            </fieldset>

            <button type="submit" class="btn btn-info">Ingresar</button>
        </form>
    </section>
</main>