<main class="container-fluid">
    <section class="row">
        <form class="col-md-6">
        <p>Registro de Emergencia</p>
        <div>
            <input type="text" name="Nombre" placeholder="Nombre Completo">
        </div>
        <div>
            <input type="number" name="Edad" placeholder="Edad">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            Hombre
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
            Mujer
            </label>
        </div>
        <div>
            <input type="text" name="run" placeholder="Run">
        </div>
        <div>
            <input type="number" name="Numero" placeholder="Contacto de emergencia">
        </div>
        <div>
            <input type="text" name="Consulta" placeholder="Motivo de consulta">
        </div>
        <button type="submit">Registrar Emergencia</button>
        </form>
    </section>
</main>