<main class="container-fluid">
    <section class="row">
        <form class="col-md-6">
            <div>
                <p>Descripción</p>
                <input type="text" placeholder="Describa la emergencia">
            </div>
            <div>
                <p>Victimas Involucradas</p>
                <input type="number" placeholder="Numero de victimas">
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">ola</button></li>
                      <li><button class="dropdown-item" type="button">hola</button></li>
                      <li><button class="dropdown-item" type="button">oli</button></li>
                    </ul>
                  </div>
            </div>
            <div>
                <p>Descripción</p>
                <input type="text" placeholder="Describa la emergencia">
            </div>
        </form>
    </section>
</main>